<ion-content [fullscreen]="true">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="end">
                <ion-button (click)="bakeryStatus()">
                    <ion-icon class="light" [src]="bakeryStatusIcon"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-buttons slot="start">
                <ion-button>
                    <ion-back-button color="light"></ion-back-button>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>

        <div class="user">
            <ion-card-subtitle color="light">Home</ion-card-subtitle>
            <ion-card-title color="light">{{bakeryInfo?.name}}</ion-card-title>
        </div>
        <br>
        <br>
        <div class="card">
            <ion-card-content>
                <br>
                <br>
                <ion-button class="button-size" (click)="requestOrder(bakeryInfo)" expand="block" color="secondary">
                    <span style="color: white">Report a Problem</span>
                </ion-button>
            </ion-card-content>

            <ion-row>
                <ion-col size="6"><p><b>Last Order</b></p></ion-col>
                <ion-col (click)="openList()" size="6"><p class="order">View All Order</p></ion-col>

            </ion-row>

            <div class="request" *ngFor="let request of requests">
                <ion-label slot="start" class="ion-text-lg-left">
                    <p><b>Order</b> <span style="color: var(--ion-color-primary)"> #{{request?.id}}</span></p>
                    <br>
                    <p>Requested On: {{request?.request_on | date: 'd MMM, y'}}</p>
                    <p>Arrive On: {{request?.arrival_on | date:'d MMM, y'}}</ion-label>
                <br>
            </div>
        </div>
    </ion-header>

</ion-content>
