<ion-content [fullscreen]="true" color="medium">
    <ion-header [translucent]="true">
        <ion-toolbar>
        </ion-toolbar>

        <br>
        <div class="ion-padding-horizontal ion-text-center">
            <img class="logo" src="assets/images/logo2.png" width="254">
        </div>
        <br>
        <br>
        <div class="card">

            <ion-card-content>
                <h1><b>Welcome To</b></h1>
                <br>
                <h2>flour supplying management System with Forecasting for the Ministry of Trade and Industry.</h2>
            </ion-card-content>

            <ion-button expand="block" color="light" size="large">Log in</ion-button>
            <br>
            <ion-button expand="block" size="large">Log in as officer</ion-button>
        </div>
    </ion-header>

</ion-content>
