<ion-content [fullscreen]="true" color="medium">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button color="light" icon="arrow-back-outline"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>

        <div class="user">
            <ion-card-subtitle color="light">Details about</ion-card-subtitle>
            <ion-card-title color="light">Order #{{order?.id}}</ion-card-title>
        </div>
        <br>
    </ion-header>
    <br>
    <div class="header"></div>
    <div class="card">
        <ion-card-content>
            <h1>Order Details</h1>
        </ion-card-content>
    </div>
    <ion-card>
        <div class="request">
            <ion-label slot="start" class="ion-text-lg-left">
                <p><b>Order</b> <span style="color: var(--ion-color-primary)"> #{{order?.id}}</span></p>
                <br>
                <p>Arrival On: {{order?.arrival_on| date: 'd MMM, y'}}</p>
                <p><b>{{order?.qty}} Packages</b></p></ion-label>
            <br>
        </div>
    </ion-card>

    <ion-card>
        <!--    <ion-card color="medium">-->
        <ion-card-content>
            <h1>Received by:</h1>
            <p><b>{{order?.user?.name}}</b></p>
            <h2>Owner of {{order?.bakery?.name}}</h2>
        </ion-card-content>
    </ion-card>

    <ion-button (click)="report(order?.bakery?.id)" class="button-size" expand="block" color="secondary">
        <span style="color: white">Report a Problem</span>
    </ion-button>
</ion-content>
