<ion-content [fullscreen]="true" color="medium">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button routerLink="/home" routerDirection="back">
                    <ion-icon slot="icon-only" class="light" name="chevron-back-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>

        <div class="user">
            <ion-card-subtitle color="light">Delivered Order Confirmation</ion-card-subtitle>
            <ion-card-title color="light">Order #{{order?.id}}</ion-card-title>
        </div>
        <br>
    </ion-header>
    <br>
    <div class="header"></div>
    <div class="card">
        <ion-card-content>
            <h3>New received Order Details</h3>
        </ion-card-content>
    </div>
    <ion-card>
        <ion-card-content>
            <h1>Order <b style="color:var(--ion-color-primary)">#{{order?.id}}</b></h1>
            <ion-item lines="none">
                <ion-label><span slot="start">Arrive On: {{order?.arrival_on| date:'d MMM, y'}}</span></ion-label>
            </ion-item>
            <p>packages received</p>
            <ion-grid>
                <ion-row>
                    <ion-col size="4">Siz</ion-col>
                    <ion-col size="4">QTY</ion-col>
                    <ion-col size="4">Total</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">{{order?.size}}Kg</ion-col>
                    <ion-col size="4">{{order?.qty}}</ion-col>
                    <ion-col size="4">{{order?.total}}</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-card-title>Driver Information:</ion-card-title>

            <p>Id: {{order?.driver?.id}}</p>
            <p>Number: {{order?.driver?.mobile}}</p>
            <p>Name: {{order?.driver?.name}}</p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-card-title>Received by:</ion-card-title>
            <p>{{userInfo.name}}</p>
            <p>Owner of {{bakeryInfo.name}}</p>
        </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer>
    <ion-toolbar color="medium">
        <ion-button color="secondary">
            <ion-label color="light">Deliver Received</ion-label>
        </ion-button>
        <ion-button class="to-end">
            <ion-label color="light">confirmed</ion-label>
        </ion-button>
    </ion-toolbar>
</ion-footer>
