<ion-content [fullscreen]="true">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="end">
                <ion-button>
                    <ion-icon class="light" name="search"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-buttons slot="start">
                <ion-back-button color="light" icon="arrow-back-outline"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>

        <div class="user">
            <ion-card-title color="light">{{data.name}}</ion-card-title>
        </div>
        <br>
        <br>
        <div class="card">
            <ion-card-content>
                <h1>List of past orders</h1>
            </ion-card-content>

            <div class="request" *ngFor="let request of data?.order">
                <ion-label slot="start" class="ion-text-lg-left" (click)="openDetails(request)">
                    <p><b>Order</b> <span style="color: var(--ion-color-primary)"> #{{request?.id}}</span></p>
                    <br>
                    <p>Arrival On: {{request?.arrival_on| date: 'd MMM, y'}}</p>
                    <p><b>{{request.qty}} Packages</b></p></ion-label>
                <br>
            </div>
        </div>
    </ion-header>
</ion-content>
